/*body{
  background-color: #E5F4E3; 
  font-family: 'Roboto', sans-serif;
}*/

#output {
  margin-top:1%;
  border-radius:25px;
  font-family:'Lobster';
  margin: 15px;
  padding: 5px;

}

.poster{
	margin-left:360px;
}

.dummy{

	margin-left:230px;
	margin-top:50px;
}

.dummyrating{

	margin-left:1002px;
	margin-top:-440px;
}

.dummyvotes{

	margin-left:1085px;
	/*margin-top:-420px;*/
}

.imdbrating{

	margin-left:962px;
	margin-top:-555px;	

}

.imdbvotes{
margin-left:1070px;
font-size:10px;

}

.tomatoes{
	margin-left:-985px;
	margin-top:-45px;
}

.text{
	margin-left: 95px;
}


@media screen and (max-width:1466px)
{
	.poster{
	  margin-left:460px;
	}


	.dummy{
		 margin-left:500px;
	}
}

@media screen and (max-width:1372px)
{

	.dummy{
		 margin-left:470px;
	}

	.dummyrating{
		 margin-left:990px;
	}

	.dummyvotes{
		 margin-left:1075px;
	}
} 
 
@media screen and (max-width:1285px)
{

	.dummy{
		 margin-left:440px;
	}

	.dummyrating{
		 margin-left:990px;
	}

	.dummyvotes{
		 margin-left:1075px;
	}
}

@media screen and (max-width:1207px)
{

	.dummy{
		 margin-left:420px;
	}

	.dummyrating{
		 margin-left:970px;
	}

	.dummyvotes{
		 margin-left:1055px;
	}
}

@media screen and (max-width:1185px)
{

	.dummy{
		 margin-left:400px;
	}

	.dummyrating{
		 margin-left:950px;
	}

	.dummyvotes{
		 margin-left:1035px;
	}
}

@media screen and (max-width:1156px)
{

	.dummy{
		 margin-left:380px;
	}

	.dummyrating{
		 margin-left:930px;
	}

	.dummyvotes{
		 margin-left:1015px;
	}
}

@media screen and (max-width:1137px)
{

	.dummy{
		 margin-left:360px;
	}

	.dummyrating{
		 margin-left:910px;
	}

	.dummyvotes{
		 margin-left:995px;
	}
}

@media screen and (max-width:1107px)
{

	.dummy{
		 margin-left:340px;
	}

	.dummyrating{
		 margin-left:890px;
	}

	.dummyvotes{
		 margin-left:975px;
	}
}

@media screen and (max-width:1085px)
{

	.dummy{
		 margin-left:320px;
	}

	.dummyrating{
		 margin-left:870px;
	}

	.dummyvotes{
		 margin-left:955px;
	}
}

@media screen and (max-width:1074px)
{

	.dummy{
		 margin-left:310px;
	}

	.dummyrating{
		 margin-left:850px;
	}

	.dummyvotes{
		 margin-left:935px;
	}
}

@media screen and (max-width:1042px)
{

	.dummy{
		 margin-left:300px;
	}

	.dummyrating{
		 margin-left:830px;
	}

	.dummyvotes{
		 margin-left:915px;
	}
}


@media screen and (max-width:1026px)
{

	.dummy{
		 margin-left:280px;
	}

	.dummyrating{
		 margin-left:810px;
	}

	.dummyvotes{
		 margin-left:895px;
	}
}

@media screen and (max-width:996px)
{

	.dummy{
		 margin-left:260px;
	}

	.dummyrating{
		 margin-left:790px;
	}

	.dummyvotes{
		 margin-left:875px;
	}
}

@media screen and (max-width:977px)
{

	.dummy{
		 margin-left:240px;
	}

	.dummyrating{
		 margin-left:770px;
	}

	.dummyvotes{
		 margin-left:855px;
	}
}

@media screen and (max-width:961px)
{

	.dummy{
		 margin-left:220px;
	}

	.dummyrating{
		 margin-left:750px;
	}

	.dummyvotes{
		 margin-left:835px;
	}
}

@media screen and (max-width:934px)
{

	.dummy{
		 margin-left:200px;
	}

	.dummyrating{
		 margin-left:730px;
	}

	.dummyvotes{
		 margin-left:815px;
	}
}

@media screen and (max-width:918px)
{

	.dummy{
		 margin-left:180px;
	}

	.dummyrating{
		 margin-left:710px;
	}

	.dummyvotes{
		 margin-left:795px;
	}
}

@media screen and (max-width:891px)
{

	.dummy{
		 margin-left:160px;
	}

	.dummyrating{
		 margin-left:690px;
	}

	.dummyvotes{
		 margin-left:775px;
	}

	.dummytext{
		margin-left:-20px;
	}
}

@media screen and (max-width:869px)
{

	.dummy{
		 margin-left:180px;
	}

	.dummyrating{
		 margin-left:660px;
	}

	.dummyvotes{
		 margin-left:755px;
	}
}

@media screen and (max-width:847px)
{

	.dummy{
		 margin-left:180px;
	}

	.dummyrating{
		 margin-left:640px;
	}

	.dummyvotes{
		 margin-left:735px;
	}
}

@media screen and (max-width:828px)
{

	.dummy{
		 margin-left:180px;
	}

	.dummyrating{
		 margin-left:620px;
	}

	.dummyvotes{
		 margin-left:715px;
	}
}

@media screen and (max-width:817px)
{

	.dummy{
		 margin-left:180px;
	}

	.dummyrating{
		 margin-left:600px;
	}

	.dummyvotes{
		 margin-left:695px;
	}
}

@media screen and (max-width:790px)
{

	.dummy{
		 margin-left:170px;
	}

	.dummyrating{
		 margin-left:580px;
	}

	.dummyvotes{
		 margin-left:675px;
	}
}

@media screen and (max-width:773px)
{

	.dummy{
		 margin-left:160px;
	}

	.dummyrating{
		 margin-left:560px;
	}

	.dummyvotes{
		 margin-left:655px;
	}
}

@media screen and (max-width:748px)
{

	.dummy{
		 margin-left:150px;
	}

	.dummyrating{
		 margin-left:540px;
	}

	.dummyvotes{
		 margin-left:635px;
	}
}

@media screen and (max-width:732px)
{

	.dummy{
		 margin-left:140px;
	}

	.dummyrating{
		 margin-left:520px;
	}

	.dummyvotes{
		 margin-left:615px;
	}
}

@media screen and (max-width:718px)
{

	.dummy{
		 margin-left:130px;
	}

	.dummyrating{
		 margin-left:490px;
	}

	.dummyvotes{
		 margin-left:575px;
	}
}

@media screen and (max-width:672px)
{

	.dummy{
		 margin-left:110px;
	}

	.dummyrating{
		 margin-left:460px;
	}

	.dummyvotes{
		 margin-left:545px;
	}
}

@media screen and (max-width:645px)
{

	.dummy{
		 margin-left:90px;
	}

	.dummyrating{
		 margin-left:430px;
	}

	.dummyvotes{
		 margin-left:515px;
	}
}

@media screen and (max-width:615px)
{

	.dummy{
		 margin-left:70px;
	}

	.dummyrating{
		 margin-left:400px;
	}

	.dummyvotes{
		 margin-left:485px;
	}
}

@media screen and (max-width:593px)
{

	.dummy{
		 margin-left:50px;
	}

	.dummyrating{
		 margin-left:370px;
	}

	.dummyvotes{
		 margin-left:455px;
	}
}


@media screen and (max-width:549px)
{

	.dummy{
		 margin-left:30px;
	}

	.dummyrating{
		 margin-left:340px;
		 margin-top:-430px;
	}

	.dummyvotes{
		 margin-left:425px;
	}
}

@media screen and (max-width:528px)
{

	.dummy{
		 margin-left:15px;
	}

	.dummyrating{
		 margin-left:310px;
	}

	.dummyvotes{
		 margin-left:395px;
	}
}

@media screen and (max-width:501px)
{

	.dummy{
		 margin-left:10px;
	}

	.dummyrating{
		 margin-left:280px;
	}

	.dummyvotes{
		 margin-left:365px;
	}
}

@media screen and (max-width:488px)
{

	.dummy{
		 margin-left:5px;
	}

	.dummyrating{
		 margin-left:250px;
	}

	.dummyvotes{
		 margin-left:335px;
	}
}

@media screen and (max-width:485px)
{

	.dummy{
		 margin-left:1px;
	}

	.dummyrating{
		 margin-left:220px;
	}

	.dummyvotes{
		 margin-left:305px;
	}
}

@media screen and (max-width:477px)
{

	.dummy{
		 margin-left:1px;
		 width:365px;
	}

	.dummyrating{
		 margin-left:190px;
		 margin-top:-405px;
	}

	.dummyvotes{
		 margin-left:275px;
	}
}


@media screen and (max-width:439px)
{

	.dummy{
		 margin-left:0px;
		 width:360px;
	}

	.dummyrating{
		margin-left:160px;
		 margin-top:-405px;
	}

	.dummyvotes{
		 margin-left:245px;
	}
}

@media screen and (max-width:431px)
{

	.dummy{
		 margin-left:0px;
		 width:355px;
	}

	.dummyrating{
		margin-left:130px;
		 margin-top:-405px;
	}

	.dummyvotes{
		 margin-left:215px;
	}
}

@media screen and (max-width:429px)
{

	.dummy{
		 margin-left:0px;
		 width:350px;
	}

	.dummyrating{
		margin-left:100px;
		 margin-top:-395px;
	}

	.dummyvotes{
		 margin-left:185px;
	}
}

@media screen and (max-width:422px)
{

	.dummy{
		 margin-left:0px;
		 width:345px;
	}

	.dummyrating{
		margin-left:70px;
		 margin-top:-395px;
	}

	.dummyvotes{
		 margin-left:150px;
	}
}

@media screen and (max-width:419px)
{

	.dummy{
		 margin-left:0px;
		 width:340px;
	}

	.dummyrating{
		margin-left:40px;
		 margin-top:-395px;
	}

	.dummyvotes{
		 margin-left:120px;
	}
}


@media screen and (max-width:413px)
{

	.dummy{
		 margin-left:0px;
		 width:335px;
	}

	.dummyrating{
		margin-left:10px;
		 margin-top:-385px;
	}

	.dummyvotes{
		 margin-left:90px;
	}
}

@media screen and (max-width:408px)
{

	.dummy{
		 margin-left:0px;
		 width:330px;
	}

	.dummyrating{
		margin-left:-20px;
		 margin-top:-385px;
	}

	.dummyvotes{
		 margin-left:60px;
	}
}

@media screen and (max-width:403px)
{

	.dummy{
		 margin-left:0px;
		 width:325px;
	}

	.dummyrating{
		margin-left:-50px;
		 margin-top:-385px;
	}

	.dummyvotes{
		 margin-left:30px;
	}
}

@media screen and (max-width:398px)
{

	.dummy{
		 margin-left:0px;
		 width:315px;
	}

	.dummyrating{
		margin-left:-80px;
		 margin-top:-375px;
	}

	.dummyvotes{
		 margin-left:-10px;
	}
}

@media screen and (max-width:387px)
{

	.dummy{
		 margin-left:0px;
		 width:305px;
	}

	.dummyrating{
		margin-left:-80px;
		 margin-top:-365px;
	}

	.dummyvotes{
		 margin-left:-40px;
	}
}

@media screen and (max-width:376px)
{

	.dummy{
		 margin-left:0px;
		 width:295px;
	}

	.dummyrating{
		margin-left:-80px;
		 margin-top:-365px;
	}

	.dummyvotes{
		 margin-left:-55px;
	}
}

@media screen and (max-width:368px)
{

	.dummy{
		 margin-left:0px;
		 margin-top:65px; 
		 width:275px;
	}

	.dummyrating{
		margin-left:-70px;
		 margin-top:-365px;
	}

	.dummyvotes{
		 margin-left:-55px;
	}
}




@media screen and (max-width:1434px)
{
	.poster{
	  margin-left:520px;
	}
}

@media screen and (max-width:1364px)
{
	.poster{
	  margin-left:490px;
	}
}

@media screen and (max-width:1329px)
{
	.poster{
	  margin-left:460px;
	}
}

@media screen and (max-width:1253px)
{
	.poster{
	  margin-left:430px;
	}
}

@media screen and (max-width:1198px)
{
	.poster{
	  margin-left:400px;
	}

	.imdbrating{

		margin-left:960px;
	}

	.imdbvotes{
	  margin-left:1040px;
	}

	.tomatoes{
		margin-left:-965px;
	
	}
}

@media screen and (max-width:1174px)
{
	.poster{
	  margin-left:400px;
	}

	.imdbrating{

		margin-left:930px;
	}

	.imdbvotes{
	  margin-left:1010px;
	}

	.tomatoes{
		margin-left:-935px;
	
	}
}

@media screen and (max-width:1144px)
{
	.poster{
	  margin-left:360px;
	}

	.imdbrating{

		margin-left:900px;
	}

	.imdbvotes{
	  margin-left:980px;
	}

	.tomatoes{
		margin-left:-905px;
	
	}
}

@media screen and (max-width:1114px)
{
	.poster{
	  margin-left:340px;
	}

	.imdbrating{

		margin-left:870px;
	}

	.imdbvotes{
	  margin-left:950px;
	}

	.tomatoes{
		margin-left:-870px;
	
	}
}

@media screen and (max-width:1079px)
{
	.poster{
	  margin-left:320px;
	}

	.imdbrating{

		margin-left:840px;
	}

	.imdbvotes{
	  margin-left:920px;
	}

	.tomatoes{
		margin-left:-840px;
	
	}
}

@media screen and (max-width:1044px)
{
	.poster{
	  margin-left:300px;
	}

	.imdbrating{

		margin-left:810px;
	}

	.imdbvotes{
	  margin-left:890px;
	}

	.tomatoes{
		margin-left:-820px;
	
	}
}

@media screen and (max-width:1030px)
{
	.poster{
	  margin-left:305px;
	}

	.imdbrating{

		margin-left:780px;
	}

	.imdbvotes{
	  margin-left:850px;
	}

	.tomatoes{
		margin-left:-790px;
	
	}
}

@media screen and (max-width:1003px)
{
	.poster{
	  margin-left:290px;
	}

	.imdbrating{

		margin-left:750px;
	}

	.imdbvotes{
	  margin-left:810px;
	}

	.tomatoes{
		margin-left:-760px;
	
	}
}

@media screen and (max-width:971px)
{
	.poster{
	  margin-left:280px;
	}

	.imdbrating{

		margin-left:720px;
	}

	.imdbvotes{
	  margin-left:790px;
	}

	.tomatoes{
		margin-left:-730px;
	
	}
}

@media screen and (max-width:941px)
{
	.poster{
	  margin-left:270px;
	}

	.imdbrating{

		margin-left:690px;
	}

	.imdbvotes{
	  margin-left:770px;
	}

	.tomatoes{
		margin-left:-700px;
	
	}
}

@media screen and (max-width:911px)
{
	.poster{
	  margin-left:260px;
	}

	.imdbrating{

		margin-left:660px;
	}

	.imdbvotes{
	  margin-left:750px;
	}

	.tomatoes{
		margin-left:-670px;
	
	}
}

@media screen and (max-width:884px)
{
	.poster{
	  margin-left:250px;
	}

	.imdbrating{

		margin-left:630px;
	}

	.imdbvotes{
	  margin-left:730px;
	}

	.tomatoes{
		margin-left:-640px;
	
	}
}

@media screen and (max-width:857px)
{
	.poster{
	  margin-left:240px;
	}

	.imdbrating{

		margin-left:600px;
	}

	.imdbvotes{
	  margin-left:710px;
	}

	.tomatoes{
		margin-left:-610px;
	
	}
}

@media screen and (max-width:830px)
{
	.poster{
	  margin-left:230px;
	}

	.imdbrating{

		margin-left:570px;
	}

	.imdbvotes{
	  margin-left:680px;
	}

	.tomatoes{
		margin-left:-590px;
	
	}
}

@media screen and (max-width:798px)
{
	.poster{
	  margin-left:220px;
	}

	.imdbrating{

		margin-left:540px;
	}

	.imdbvotes{
	  margin-left:650px;
	}

	.tomatoes{
		margin-left:-570px;
	
	}
}

@media screen and (max-width:781px)
{
	.poster{
	  margin-left:210px;
	}

	.imdbrating{

		margin-left:510px;
	}

	.imdbvotes{
	  margin-left:600px;
	}

	.tomatoes{
		margin-left:-550px;
	
	}
}

@media screen and (max-width:757px)
{
	.poster{
	  margin-left:200px;
	}

	.imdbrating{

		margin-left:480px;
	}

	.imdbvotes{
	  margin-left:550px;
	}

	.tomatoes{
		margin-left:-530px;
	
	}
}

@media screen and (max-width:743px)
{
	.poster{
	  margin-left:190px;
	}

	.imdbrating{

		margin-left:480px;
	}

	.imdbvotes{
	  margin-left:550px;
	}

	.tomatoes{
		margin-left:-510px;
	
	}
}

@media screen and (max-width:724px)
{
	.poster{
	  margin-left:180px;
	}

	.imdbrating{

		margin-left:480px;
	}

	.imdbvotes{
	  margin-left:550px;
	}

	.tomatoes{
		margin-left:-490px;
	
	}
}

@media screen and (max-width:697px)
{
	.poster{
	  margin-left:170px;
	}

	.imdbrating{

		margin-left:475px;
	}

	.imdbvotes{
	  margin-left:530px;
	}

	.tomatoes{
		margin-left:-470px;
	
	}
}

@media screen and (max-width:686px)
{
	.poster{
	  margin-left:160px;
	}

	.imdbrating{

		margin-left:470px;
	}

	.imdbvotes{
	  margin-left:510px;
	}

	.tomatoes{
		margin-left:-450px;
	
	}
}

@media screen and (max-width:664px)
{
	.poster{
	  margin-left:150px;
	}

	.imdbrating{

		margin-left:465px;
	}

	.imdbvotes{
	  margin-left:530px;
	}

	.tomatoes{
		margin-left:-430px;
	
	}
}

@media screen and (max-width:661px)
{
	.poster{
	  margin-left:140px;
	  margin-top:10px;
	}

	.imdbrating{

		margin-left:460px;
	}

	.imdbvotes{
	  margin-left:520px;
	}

	.tomatoes{
		margin-left:-410px;
	
	}
}

@media screen and (max-width:644px)
{
	.poster{
	  margin-left:130px;
	  margin-top:10px;
	}

	.imdbrating{

		margin-left:455px;
	}

	.imdbvotes{
	  margin-left:510px;
	}

	.tomatoes{
		margin-left:-390px;
	
	}
}

@media screen and (max-width:631px)
{
	.poster{
	  margin-left:130px;
	  margin-top:10px;
	}

	.imdbrating{

		margin-left:450px;
	}

	.imdbvotes{
	  margin-left:500px;
	}

	.tomatoes{
		margin-left:-370px;
	
	}
}

@media screen and (max-width:628px)
{
	.poster{
	  margin-left:110px;
	  margin-top:14px;
	}

	.imdbrating{

		margin-left:420px;
	}

	.imdbvotes{
	  margin-left:470px;
	}

	.tomatoes{
		margin-left:-350px;
	
	}
}

@media screen and (max-width:596px)
{
	.poster{
	  margin-left:80px;
	  margin-top:14px;
	}

	.imdbrating{

		margin-left:380px;
	}

	.imdbvotes{
	  margin-left:430px;
	}

	.tomatoes{
		margin-left:-320px;
	
	}
}

@media screen and (max-width:558px)
{
	.poster{
	  margin-left:60px;
	  margin-top:18px;
	}

	.imdbrating{

		margin-left:330px;
	}

	.imdbvotes{
	  margin-left:390px;
	}

	.tomatoes{
		margin-left:-290px;
	
	}
}

@media screen and (max-width:507px)
{
	.poster{
	  margin-left:40px;
	  margin-top:18px;
	}

	.imdbrating{

		margin-left:280px;
	}

	.imdbvotes{
	  margin-left:350px;
	}

	.tomatoes{
		margin-left:-260px;
		margin-top:2px;
	
	}

	.text{
		margin-left:80px;
	}

	.detail{
		margin-left:55px;
	}
	.something{
		margin-left:70px;
		margin-top:50px;
	}
}


@media screen and (max-width:470px)
{
	.poster{
	  margin-left:30px;
	  margin-top:18px;
	}

	.imdbrating{

		margin-left:230px;
		margin-top:-555px;
	}

	.imdbvotes{
	  margin-left:310px;
	}

	.tomatoes{
		margin-left:-230px;
		margin-top:2px;
	
	}
}

@media screen and (max-width:440px)
{
	.poster{
	  margin-left:30px;
	  margin-top:18px;
	}

	.imdbrating{

		margin-left:200px;
		margin-top:-555px;
	}

	.imdbvotes{
	  margin-left:300px;
	}

	.tomatoes{
		margin-left:-200px;
		margin-top:2px;
	
	}
}


@media screen and (max-width:416px)
{
	.poster{
	  margin-left:20px;
	  margin-top:18px;
	}

	.imdbrating{

		margin-left:170px;
		margin-top:-555px;
	}

	.imdbvotes{
	  margin-left:310px;
	}

	.tomatoes{
		margin-left:-170px;
		margin-top:2px;
	
	}
}

@media screen and (max-width:421px)
{
	.poster{
	  margin-left:10px;
	  margin-top:20px;
	}

	.imdbrating{

		margin-left:140px;
		margin-top:-552px;
	}

	.imdbvotes{
	  margin-left:210px;
	}

	.tomatoes{
		margin-left:-140px;
		margin-top:1px;
	
	}
}

@media screen and (max-width:387px)
{
	.poster{
	  margin-left:7px;
	  margin-top:20px;
	}

	.imdbrating{

		margin-left:140px;
		margin-top:-552px;
	}

	.imdbvotes{
	  margin-left:210px;
	}

	.tomatoes{
		margin-left:-140px;
		margin-top:1px;
	
	}
}

@media screen and (max-width:383px)
{
	.poster{
	  margin-left:1px;
	  margin-top:20px;
	}

	.imdbrating{

		margin-left:140px;
		margin-top:-552px;
	}

	.imdbvotes{
	  margin-left:210px;
	}

	.tomatoes{
		margin-left:-140px;
		margin-top:1px;
	
	}
}

@media screen and (max-width:375px)
{
	.poster{
	  margin-left:1px;
	  margin-top:20px;
	  width:260px;
	}

	.imdbrating{

		margin-left:140px;
		margin-top:-492px;
	}

	.imdbvotes{
	  margin-left:210px;
	}

	.tomatoes{
		margin-left:-140px;
		margin-top:1px;
	
	}
}



@media screen and (max-width:692px)
{
	.text{
		margin-left:90px;
	}

	.detail{
		margin-left:95px;
	}
	.something{
		margin-left:80px;
		margin-top:50px;
	}
}

@media screen and (max-width:680px)
{
	.text{
		margin-left:80px;
		/*margin-top:-10px;*/
	}

	.detail{
		margin-left:-10px;
		/*margin-top:-10px;*/
	}
	.something{
		margin-left:70px;
		margin-top:50px;
	}
}

@media screen and (max-width:565px)
{
	.text{
		margin-left:90px;
	}

	.detail{
		margin-left:-20px;
	}
	.something{
		margin-left:55px;
		margin-top:100px;
	}
}

@media screen and (max-width:563px)
{
	.text{
		margin-left:90px;
	}

	.detail{
		margin-left:1px;
	}
	.something{
		margin-left:-155px;
		margin-top:100px;
	}
}